<h1>Login here</h1>
<form action="target.html" name="loginForm" method="post">
    Usuario<input type="text" name="username" id="username" /><br><br>
    Password<input type="password" name="password" id="password" />
       <LinkTo @route="perfil" {{on "click" this.sesion}}>
            Entrar
        </LinkTo>
        
</form>
